<!doctype html>
<html lang="en">

<head>
    <title>Flask Leaflet Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
</head>

<body>
    <div id="map"></div>
    <script src="{{ url_for('static', filename='js/universal.js') }}" />
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        
        {% for line in lines %}

        var pointA = new L.LatLng({{line[0]}}, {{line[1]}});
        var pointB = new L.LatLng({{line[2]}}, {{line[3]}});
        var pointList = [pointA, pointB];
        var firstpolyline = new L.Polyline(pointList, {
            color: 'green',
            weight: 3,
            opacity: 0.5,
            smoothFactor: 1
        });
        firstpolyline.addTo(map);
        
        {% endfor %}

        {% for marker in markers %}

        function onMarkerClick(e) {
            window.open("http://www.google.com/maps/place/{{ marker['lat'] }},{{ marker['lon'] }}", '_blank').focus();
        }
        L.circle([{{marker['lat']}}, {{marker['lon']}}], {
            color: 'blue',
            fillOpacity: 0.5,
            radius: 2
            }).addTo(map)
            .bindPopup("{{ marker['popup'] }}")
            .on('dblclick', onMarkerClick);
        
        {% endfor %}
    </script>
</body>

</html>